:root {
  --color-gray: #666;
  --color-light-gray: #ccc;

  --selector: {
    width: 30%;
    display: inline-block;
  }
}

.Header {
  border-bottom: 1px solid var(--color-light-gray);

  & .Title {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.2em;
    width: 40%;
  }

  & .OriginSelector {
    @apply --selector;

    & .Select {
      width: 70%
    }
  }

  & .DailySelector {
    @apply --selector;

    & .Select {
      width: 50%
    }
  }

  & p {
    text-transform: uppercase;
    font-size: 0.6em;
    display: inline-block;
    color: var(--color-gray);
  }
}

.Select {
  margin-left: 3px;
  display: inline-block;
}
/*
 *
 *.Select div {
 *  height: 19px;
 *  line-height: 26px;
 *}
 */

