.Section {
  vertical-align: top;
  display: table-cell;
  padding: 8px;
  width: 15%;
  border-right: 1px solid #ccc;

  & span {
    display: block;
    text-align: center;
  }
}


.Dailies {
  font-size: 1.4em;
  font-weight: bold;
}

.Description {
  font-size: 0.7em;
}

