.Section {
  margin-bottom: 15px;
  box-sizing: border-box;
}

.Title {
  font-size: 1em;
  margin-bottom: 8px;
}

.Description {
  color: #666;
  font-size: 0.9em;
  font-weight: initial;
}

@media (width >= 768px) {
  .Section {
    text-align: center;
  }
}

@media (width >= 992px) {
  .Column {
    border-right: 1px solid #ccc;
  }

  .Section {
    text-align: initial;
  }
}

