.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.offerList {
  list-style: none;
  width: 100%;
}

@media (width >= 730px) {
  .title {
    margin-left: 3%;
  }
}

@media (width >= 1020px) {
  .title {
    margin-left: 2%;
  }
}
