.Section {
  display: inline-block;
  vertical-align: top;
  display: table-cell;
  padding: 8px;
}

.Option {
  border: 1px solid #bbb;
  margin-bottom: 20px;
}

.Option:hover {
  border-color: orange;
}
